/* App.css */
.non-selectable {
  user-select: none;
}

/* Base styles reset */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  background-color: #111;
  color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  white-space: nowrap;
}

header img {
  max-width: 150px;
  cursor: pointer;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
  position: relative;
}

header nav ul li div {
  color: #f5f5f5;
  text-decoration: none;
}

/* Dropdown Menu */
.dropdown-menu {
  position: relative;
  overflow: visible;
}

.dropdown-header{
  display: flex;
  justify-content: space-between;
}

.dropdown-button {
  background-color: transparent;
  display: flex;

  border: none;
  color: #f5f5f5;
  font-size: 1rem;
  text-transform: uppercase;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #222;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;

  animation: fadeIn 0.5s ease-in-out;
}

.dropdown-content>li:hover,.dropdown-button:hover,.dropdown-toggle:hover, .dropdown-title:hover {
  cursor: pointer;
  color: #aaa;
}

.dropdown-toggle{
  margin-left : 10px;
}

.dropdown-content>li {
  padding: 12px 16px;
  color: #f5f5f5;
}


/* Main content */
.main-content {
  flex: 1 1 auto;
  position: relative;
}

.scene-container {
  height: 100%;
  flex: 1 1 auto;
}

.room-canvas {
  flex: 1 1 auto;
}

/* Project overlay */
.project-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: #f5f5f5;
  z-index: 1000;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.classicscreen {
  bottom: 1rem;
  left: 1rem;
  width: 35vw;
  max-height: 50%;
  opacity: 0.95;
}

.fullscreen {
  bottom: 10%;
  left: 10%;
  width: 80vw;
  height: 80vh;
  opacity: 1;
}

.overlay-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #555;
}

.overlay-title{
  font-size: 1.25rem;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.overlay-content{
  padding: 1rem;
}

.overlay-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.buttons {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: .5rem;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}

.buttons:hover {
  transform: scale(1.15);
}

.close-button {
  background-color: #ff5f57;
}

.minimize-button {
  background-color: #ffbd2e;
}

.fullscreen-button {
  background-color: #28c940;
}

.project-image {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.project-image:hover {
  transform: scale(1.025);
}

.project-overlay {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  header{
    display: flex;
    justify-content: space-around;
  }
  header >nav> ul{
    flex-direction: column;
  } 
  header >nav> ul> li{
    margin-top: 10px;
  }
  .logo{
    display: flex;
    justify-content: center;
  }


  .classicscreen {
    width: 90vw;
    max-height: 40vh;
    bottom: 1rem;
  }

  .fullscreen {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .overlay-buttons {
    top: 5px;
    right: 5px;
  }
}


